body {
    padding-bottom: 80px;
}

.navbar-brand {
    font-family: "Pacifico", sans-serif;
    font-size: 2.1em;
}

.wordsearch {
    display: table;
}

.wordsearch > tbody > tr > td {
    padding: 4px 9px;
}

.list-group {
    max-width: 300px;
}
