body {
    padding-bottom: 80px;
}

.navbar-brand {
    font-family: "Pacifico", sans-serif;
    font-size: 2.1em;
}

.jumbotron h1 {
    font-family: "Pacifico", sans-serif;
    padding-bottom: 0.2em;
}

.navbar-fixed-bottom {
    background-color: rgba(248, 248, 248, 0.85);
}

.wordsearch > tbody > tr > td {
    padding: 4px 9px;
    border-radius: 50%;
}

.list-group {
    max-width: 300px;
}

.inline-block {
    display: inline-block;
}
